body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh;
    background: hsl(235, 18%, 26%);
    display: grid;
    place-content: center;
}
.firstScreen{
    width: 1000px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    height: 600px;
    background:hsl(0, 0%, 100%) ;
    border-radius: 30px;
}

.sect1{
    width: 100%;
    padding-top: 50px;
    padding-left: 30px;
    margin-left: 35px;
}
.sect1 h1{
    font-size: 3rem ;
}
.sect1Info{
 display: flex;
 line-height: 5px;
}
.sect1Info p{
    margin-left: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
}
.form label{
    margin: 20px 0px 10px 0px;
}
.form input{
    height: 40px;
    margin-bottom: 15px;
    padding-left: 15px;
    border-radius: 8px;
    border: 0.1px solid hsl(231, 7%, 60%);
}
.btnForm{
    height: 40px;
    border-radius:8px ;
    background: hsl(234, 29%, 20%);
    color:hsl(0, 0%, 100%) ;
    cursor: pointer;
}
.btnForm:hover{
    transition: ease .3s;
    background: hsl(4, 100%, 67%);
}
.sect2{
    width: 80%;
    height: 95%;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    margin-top: 10px ;
    margin-right: 15px ; 
    border-radius: 20px;
}
.secondScreen{
    display: none;
}
